<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row" style="margin-top:20px ;">

            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <img src="../../../assets/logo.png" alt="" style="width:100px; height:100px;">

                </div>
                <h1 class="text-center">Sign up</h1>
                <form>
                    <!--username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter here">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                      <!-- password field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                      
                      <!-- first Name -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter here">
                      </mat-form-field>

                      <!-- Last Name -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter here">
                      </mat-form-field>

                      <!-- Email -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input matInput placeholder="Enter here">
                      </mat-form-field>

                      <!-- Phone number -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="Enter here">
                      </mat-form-field>

                      <div class="container">
                        <button mat-raised-button class="register-btn" >Register</button>
                        <button mat-raised-button style="margin-left: 20px;" color="primary">Clear</button>

                      </div>

                </form>
            </div>
        </div>

    </div>

</div>