<!-- <mat-card>
    <mat-action-list>
       <div mat-subheader>Menu</div>
       <button mat-list-item routerLink="/admin" ><mat-icon mat-list-icon class= "mat-list-text">home</mat-icon > <span class= "mat-list-text">Home</span></button>
       <button mat-list-item routerLink="/admin/profile" ><mat-icon mat-list-icon class= "mat-list-text">account_circle</mat-icon><span class="mat-list-text">Profile</span></button>
       <button mat-list-item routerLink="/admin/categories"><mat-icon mat-list-icon class= "mat-list-text">category</mat-icon><span class="mat-list-text">Categories</span></button>
       <button mat-list-item routerLink="/admin/add-category" ><mat-icon mat-list-icon class= "mat-list-text">add_circle_outline</mat-icon><span class="mat-list-text">Add Categories</span></button>
       <button mat-list-item routerLink="/admin/quizzes"><mat-icon mat-list-icon class= "mat-list-text">quiz</mat-icon><span class="mat-list-text">Quizzes</span></button>
       <button mat-list-item routerLink="/admin/add-quiz" ><mat-icon mat-list-icon class= "mat-list-text">add</mat-icon><span class="mat-list-text">Add Quiz</span></button>
       <button mat-list-item routerLink="/admin/profile" ><mat-icon mat-list-icon class= "mat-list-text">logout</mat-icon><span class="mat-list-text">Logout</span></button>

    </mat-action-list>
</mat-card> -->
<div class="div_container"> 

  <button class="mat-list-item" routerLink="/admin/profile">
    <mat-icon mat-list-icon class="mat-list-text">account_circle</mat-icon>
    <span class="mat-list-text">Profile</span>
  </button>
  <button class="mat-list-item" routerLink="/admin/categories">
    <mat-icon mat-list-icon class="mat-list-text">category</mat-icon>
    <span class="mat-list-text">Categories</span>
  </button>
  <button class="mat-list-item" routerLink="/admin/add-category">
    <mat-icon mat-list-icon class="mat-list-text">add_circle_outline</mat-icon>
    <span class="mat-list-text">Add Categories</span>
  </button>
  <button class="mat-list-item" routerLink="/admin/quizzes">
    <mat-icon mat-list-icon class="mat-list-text">quiz</mat-icon>
    <span class="mat-list-text">Quizzes</span>
  </button>
  <button class="mat-list-item" routerLink="/admin/add-quiz">
    <mat-icon mat-list-icon class="mat-list-text">add</mat-icon>
    <span class="mat-list-text">Add Quiz</span>
  </button>
  <button class="mat-list-item" routerLink="/admin/profile">
    <mat-icon mat-list-icon class="mat-list-text">logout</mat-icon>
    <span class="mat-list-text">Logout</span>
  </button>
</div>
 

  
  
  
  
  
  
  