<mat-card class="mt10 ml10 mr10" *ngFor="let q of quizzes" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
        {{q.title}}
    </mat-card-title>
    <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{q.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="'/admin/view-questions/' + q.qId + '/' +q.title" mat-raised-button  color="primary">Questions</button>
    <button mat-stroked-button color="primary" class="ml20">Max Marks: {{q.maxMarks}}</button>
    <button mat-stroked-button color="primary" class="ml20">Questions: {{q.numberOfQuestions}}</button>
    <button mat-stroked-button color="primary" class="ml20">Attempts</button>
    <button [routerLink]="'/admin/quiz/'+q.qId" mat-raised-button color="primary" class="ml20 mr20">Update</button>
    <button mat-mini-fab style="margin-left: auto;"  (click)="deleteQuiz(q.qId)" color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
</mat-card-actions>
</mat-card>
<div class="container text-center mt20"><button mat-raised-button color="primary" routerLink="/admin/add-quiz">Add New Quiz</button></div>
