.profile-image{
    max-width: 150px;
    max-height: 150px;
    border: 0px solid black;
    border-radius: 50%;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px 10px;
    
}

.table tr td{
    padding: 20px 20px;
    border: 0.5px solid #a2c9e2;
} 

.tbdata{
    font-style: normal;
    font-weight:500;
    font-size: medium;
    
} 

.tbinfo{
    /* font-style: italic; */
    font-display: bold;
    font-size: medium;
    /* font-family:cursive; */
    
}

.mdc-card__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
    justify-content: center;
}